<h1>Dashboard</h1>

<%= form_tag proyects_index_path, method: :get, class: "form-inline my-2 my-lg-0 d-flex justify-content-end" do %>
  
  <div class="nav " id="search">
    <%= select_tag(:search, options_for_select(['Agendado', 'En progreso', 'Terminado']), {class: "form-control mr-sm-2"})%>
    <%= submit_tag 'Filtrar', class:"btn btn-success my-2 my-sm-0"%>
  </div>

<% end %>

<table class = "table-dark table">
  <thead>
    <tr>
      <th scope = "col">Nombre</th>
      <th scope = "col">Descripción</th>
      <th scope = "col">Fecha de inicio</th>
      <th scope = "col">Fecha de término</th>
      <th scope = "col">Estado</th>
    </tr>
  </thead>
  <tbody>
		<% @proyects.each do |proyect| %>
			<tr>
				<td><%= proyect.name %></td>
				<td><%= proyect.description %></td>
        <td><%= proyect.start_date %></td>
        <td><%= proyect.finish_date %></td>
        <td><%= proyect.status %></td>
			<tr>
		<% end %>
  </tbody>
</table>